body {
	font-family: Arial;
	padding: 10px;
	background: #f1f1f1;
}
.header {
	padding: 30px;
	text-align: center;
	background: white; 
}
.header h1{
	font-size: 
}
.topnav {
	overflow: hidden;
	background-color: #333
}
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.summary{
	padding: 0 10%
}
 .photo{
 	width: 30%
 	padding: 1.1rem;
 	border-radius: 5px;
 	margin: 0 20px 1.5rem auto;
 	background-color: #aaa;
 	float: left;
 }
 .photo img {
 	width: 100%;
 }
 .poto .caption {
 	font-size: 14px;
 	font-style: italic;
 }
 h2 {
 	clear: left;
 }
 .footer{
 	clear: left;
 	padding: 20px;
 	text-align: center;
 	background: #ddd;
 	margin-top: 20px;
 }
 *{
 	box-sizing: border-box;
 }